<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Cliente</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Casdastro de Cliente</h1>
    <form action="/cadastrar" method="POST">
        <label for="c_cpf">CPF</label>
        <input type="text" name="cpf" id="c_cpf" required>

        <label for="c_primeiro_nome">Primeiro Nome</label>
        <input type="text" name="primeiro_nome" id="c_primeiro_nome" required>

        <label for="c_sobrenome">Sobrenome</label>
        <input type="text" name="sobrenome" id="c_sobrenome" required>

        <label for="c_idade">Idade</label>
        <input type="number" name="idade" step="1" id="c_idade" required>

        <button type= "submit">Cadastrar</button>
    </form>
        <h2>Lita de Clientes*</h2>
  <table>
      <thead>
        <tr>
          <th>CPF</th>
          <th>primeiro_nome</th>
          <th>sobrenome</th>
          <th>idade</th>
         </tr>
          <tbody>
              {% for cliente in t_clientes%}
               <td>{{cliente.CPS}}</td>
               <td>{{cliente.primeiro_nome}}</td>
               <td>{{cliente.sobrenome}}</td>
               <td>{{cliente.idade}}</td>
              </tr>
              {%end%}
          </tbody>
      </thead>
  </table>

</body>
</html>